  - name: Install build dependencies
    apt: pkg={{ item }}
    with_items:
    - libssl-dev
    - libreadline-dev
    - zlib1g-dev
    - gcc
    - build-essential
    become: yes

  - name: Install rbenv version manager
    apt: pkg=rbenv
    become: yes

  - name: Add rbenv to .bash_profile
    lineinfile: dest=~/.bashrc line='eval "$(rbenv init -)"' create=yes

  - name: Create rbenv plugins directory
    file: path=~/.rbenv/plugins state=directory

  - name: Get ruby-build rbenv plugin
    git: repo=https://github.com/rbenv/ruby-build.git dest=~/.rbenv/plugins/ruby-build

  - name: Installed?
    shell: rbenv versions | fgrep {{ ruby_version }}
    ignore_errors: yes
    register: ruby_installed

  - name: Install
    command: rbenv install {{ ruby_version }}
    when: ruby_installed|failed
