---
- hosts: all

  vars:
    ruby_version: 2.6.3

  pre_tasks:
    - name: Update apt cache
      apt: update_cache=yes
      become: yes

    - name: Install avahi for MDNS
      apt: pkg=avahi-daemon
      become: yes

  roles:
    - git
    - ruby

  post_tasks:
    - name: Add bin directory for gems to path
      blockinfile:
        dest: ~/.bashrc
        marker: "# {mark} ANSIBLE MANAGED BLOCK (GEMS)"
        block: |
          export PATH="$HOME/.gem/ruby/{{ ruby_version }}/bin:$PATH"
